<!DOCTYPE html>
<html>
<head>
	<title>Flight Control</title>
</head>
<body>
{% include 'scripts.html' %}
	<div id="map_renderbox">
		{% include 'tiles.html' %}
	</div>
	 <div id="console_container">
	 	<h5>Console</h5>
	 	<div id="console_content"></div>
	 </div>
	<div id ="button_box">
		{% include 'controls.html' %}
	</div>
	<div id="position" style="border:solid;">
		<div id="lat">Longitude: <span>{{options.vehicle_location[0]}}</span></div>
		<div id="lon">Latitude: <span>{{options.vehicle_location[1]}}</span></div>
	</div>
 	<div id="refresher" style="color:blue;border:solid;">Refresh</div>
 	<div id="debug"></div>
 	<div id="result"></div>

 <script type="text/javascript" charset="utf-8">
 		function update_coords(position) {
					$("#lat span").text(position[0]);
					$("#lon span").text(position[1]);
 		}

 		function update_console(console) {
 			$("#console_content").html(console.replace(/([^>\r\n]?)(\r\n|\n\r|\r|\n)/g, '$1'+ '<br>'+'$2'));
 		}

 		$(document).ready(
 			function() {
 				setInterval(function() {

			 					$.getJSON('/vehicle', function(data) {
 												update_coords(data.position);
 												update_marker(data.position);
 												update_console(data.console);
 											}
 										);
 								if (inSearchMode) {
 									$.getJSON('/search_status', function(data) {
 											update_flightpath(data);
 											show_search_data(data.search_data);
 										}
 									);
 								}
 							}
 				, 500);
 			});
 		$('#refresher').on('click', 
 			function(e){
 				e.preventDefault();
 				update_coords();
 			});
 </script>
</body>
</html>